.btn-primary {
    color: #fff;
    background-color: #fe6a00;
    border-color: #fe6a00;
}
.btn-primary:hover {
    color: #fff;
    background-color: #FC4C02;
    border-color: #FC4C02;
}
.btn-primary:active {
    color: #fff;
    background-color: #FC4C02;
    border-color: #FC4C02;
}
.btn-primary:focus {
    color: #fff;
    background-color: #FC4C02;
    border-color: #FC4C02;
}
.btn-secondary {
    color: #fff;
    background-color: #ffb814;
    border-color: #ffb814;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #FF9E1B;
    border-color: #FF9E1B;
}
.btn-secondary:active {
    color: #fff;
    background-color: #FF9E1B;
    border-color: #FF9E1B;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #FF9E1B;
    border-color: #FF9E1B;
}
@font-face {
    font-family: cute_gorilla;
    src: url(../../fonts/cute_gorilla/Cute_Gorilla.otf);
}
  
.cgtitle
{
font-family: 'Cute Gorilla';  
font-size: xx-large;
}

.cimg
{
    height: 100px;
    width: 100px;
}

.wcimg
{
    height: 100%;
    width: 100%;
}